target/
*.class
*.jar
*.war
*.ear
.settings/
.project
.classpath
*#
*~

# Intellij
sonarlint
dataSources
*.iml
*.iws

# Maven
log/
target/
backend/garden/.idea/dataSources.local.xml

backend/garden/.idea/dataSources.xml

backend/garden/.idea/workspace.xml

backend/garden/.idea/sonarIssues.xml

backend/garden/gardenAPI/gardenTestConfig.json
backend/garden/gardenAPI/gardenTestConfig.json


*/.idea/
projectName.iml
/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build
/local.properties
target/
lab3/.idea/sonarIssues.xml
